#myEditor {
    aspect-ratio: 1/1.414;
    margin: 5vh 0 5vh 0;
    padding: 10vh;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.dropdown-item:active {
   background-color: #d3d7db !important;
   color: black !important;
}

.dropdown-menu a {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu > a:hover > .dropdown-submenu {
    display: block;
}

#renameDoc::placeholder {
    text-align: center;
}

.selectEmoji {
  position: fixed;
  right: 0;
  bottom: 0;
}

@media print {
    body * {
      visibility: hidden;
    }
    #myEditor, #myEditor * {
      visibility: visible;
    }
    #myEditor {
      all: revert;
      position: absolute;
      left: auto;
      top: 0;
    }
  }